.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    text-align: center;
  }

.button-container:nth-child(2)
{
    background-color: rgb(135, 166, 250);
}

.big-container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:blue;
    text-shadow: 2px 2px 5px black;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

p {
    margin-bottom: 5px;
}

.food-container
{
    position: relative;
    float: left;
    width: 274px;
    max-height: 250px; 
    margin: 20px 10px 20px;
    overflow: auto;
    background-color: lightskyblue;
    padding: 0px;
}

img {
    height: 200px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

